



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #F5EFC0;
}

.header {
    background-image: linear-gradient(to right, #DAB682,
            #B09369,
            #746145);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 25px;
    z-index: 999;
    position: fixed;
    width: 100%;

}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

#logo {
    padding-left: 10px;
    text-decoration: none;
    color: #4D7260;
    font-weight: 600;
    font-family: 'MonteCarlo';
    font-size: 2em;


}

.navigation a {

    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-family: 'Irish Grover';
    border-right: solid 0.2px;

}

.navigation a:hover {
    cursor: pointer;
    color: rgb(100, 70, 5);
}

.navigation a:last-child {

    border-right: none;
}

hr {
    max-width: 100%;
    min-width: 100%;
    height: 2px;
    background-color: black;

}

/* -------------------------------------------------- */
.home {
    padding: 200px 100px;
}

h3 {
    padding-top: 5px;
    font-family: 'Irish Grover';
    text-align: center;
    font-size: 3em;
    color: #4D7260;
}

.home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5em 20px;
    gap: 100px;
}

.content-text {
    background-color: #DAB682;
    padding: 2em;
    max-width: 1000px;
    border-radius: 20px;
    font-size: 2em;
}

.content-image img {

    max-width: 400px;
}

/* --------------------------------------------------------------------- */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-card {
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.cardcss {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(116, 97, 69, 1);
    width: 100%;
    max-width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    min-height: 550px;
    max-height: 550px;
}

.cardcss:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.card-image img {
    width: 100%;
    max-width: 200px;
    border-radius: 20px;
}

#portfolio {
    max-width: 400px;

}

.cardcss-text {
    background-color: #F4C783;
    border-radius: 20px;
    padding: 2em;
    margin: 0;
    max-width: 200px;
    min-width: 200px;
}

.cardcss-text a {
    text-decoration: none;
    color: rgba(116, 97, 69, 1);
    font-size: 100%;


}

.note {
    background-color: #DAB682;
    color: #4D7260;
    padding: 1em 0.5em;
    max-width: 75%;
    border-radius: 20px;
    font-size: 1em;
    text-align: center;
    margin: 5em auto;
}

/* ------------------------------------------------------------ */
.resume {
    margin-top: 3em;
}

.resume-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 8em;

}

#abdallah2-img {
    max-width: 250px;
    border-radius: 20px;
    margin: 20px;
}

.pdf-button {
    padding: 30px;
    background-color: #DAB682;
    border-radius: 50px;
    box-shadow: 0px 2px black;
    transition: transform 0.2s, box-shadow 0.2s;
}

.pdf-button:hover {
    cursor: pointer;
    transform: translateY(10px);
    background-color: #b8986c;
}

.pdf-button-content {
    color: #746145;
}

.pdf-button-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.pdf-button-container a {
    text-decoration: none;
}

.abdallah-information {
    background-color: #4D7260;
    padding: 30px;
    margin: 50px;
    border-radius: 10px;
    font-size: 100%;

}

tr td {
    border-bottom: #71a78d solid 0.5px;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

#no-border {
    border: none;

}

#no-border a {
    text-decoration: none;
    color: #95fecb;
}

/* ----------------------------------------------------- */

.card {
    background-color: #4D7260;
}

.card-body {
    background-color: #B09369;
}

/* --------------------------------------------------- */
.work-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Work-Experience-cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.cardcssJob {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(116, 97, 69, 1);
    width: 100%;
    max-width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 40px 30px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    min-height: 300px;
    max-height: 300px;
    padding: 5px;
}

.cardcssJob img {
    max-width: 50%;
    border-radius: 50%;
}

.cardcssJob:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.cardcssJob-text {
    background-color: #4D7260;
    border-radius: 20px;
    padding: 2em;
    margin: 0;
    max-width: 100%;
    min-width: 200px;
}

.cardcssJob-text a {
    text-decoration: none;
    color: aliceblue;
    font-size: 100%;
}

/* -------------------------------------------------- */

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10em 50px;
}

.contact-image img {
    max-width: 250px;
    border-radius: 20px;
    margin: 20px 7em;
    transition: transform 0.2s, box-shadow 0.2s;

}

.contact-image img:hover {
    transform: translateY(-10px);
}

.contact-text {
    background-color: #68cf9d;
    border-radius: 20px;
    padding: 30px;
    border: #000000 solid 4px;

}

.contact-text a {
    color: rgb(255, 255, 255);
}

/* Add this at the end of your CSS */

@media only screen and (max-width: 768px) {
    .navigation {
        justify-content: center;
    }

    .navigation a {
        padding: 5px;
    }

    .home {
        padding-top: 150px;
    }

    .home-content {
        flex-direction: column;
        gap: 50px;
        margin: 3em 0;
    }

    .content-image img {
        width: 100%;
        max-width: 300px;
    }

    .content-text {
        padding: 1em;
        text-align: center;
        font-size: 100%;
    }

    .projects {
        padding: 100px 25px;
    }

    .projects-card {
        gap: 20px;
    }

    .cardcss {
        max-width: none;
        width: 100%;
    }

    .resume-content {
        flex-direction: column;
        align-items: center;
        margin: 3em 0;
    }

    .content-image img {
        max-width: 200px;
    }

    .pdf-button {
        padding: 20px;
    }

    .education {
        padding: 100px 25px;
    }

    .Work-Experience-cards {
        flex-direction: column;
        align-items: center;
    }

    .work-experience {
        padding: 100px 25px;
    }

    .cardcssJob {
        width: 100%;
        margin: 20px 0;
    }
}